<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Switchable Grid.css">
</head>
<body>
    <form id="main" v-cloak>
        <div class="bar">
            <a class="list-icon" v-bind:class="{ 'active': layout == 'list'}" v-on:click="layout = 'list'"></a>
            <a class="grid-icon" v-bind:class="{ 'active': layout == 'grid'}" v-on:click="layout = 'grid'"></a>
        </div>
        <ul v-if="layout == 'grid'" class="grid">
            <li v-for="a in articles">
                <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.large" /></a>
            </li>
        </ul>
        <ul v-if="layout == 'list'" class="list">
            <li v-for="a in articles">
                <a v-bind:href="a.url" target="_blank"><img v-bind:src="a.image.small" /></a>
                <p>{{a.title}}</p>
            </li>
        </ul>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="Switchable Grid.js"></script>
</body>
</html>